- content_for :title do
  User synchronization

- if @user.nil?
  = link_to "Register", register_path
  or
  = link_to "Log in", signin_path


- else

  .container-fluid
    .row-fluid
      .span12
        %h2 First step &ndash; connect your accounts

    .row-fluid
      .span6
        %div.social_networks
          %h4 Social networks.
          You have #{@user.social_networks.count} linked social networks
          %strong #{@user.social_networks.map{|n| n.human_name}.join(', ')}.

          - if @user.social_networks_available.count > 0
            %div
              %br
              Link these networks to your account:
              %div
                %ul
                  - @user.social_networks_available.each do |network|
                    - network_name = provider_from_class_name(network)
                    %li
                      = link_to network_name.capitalize, '/auth/' + network_name


      .span6
        %div.clouds
          %h4 Clouds.
          You have #{@user.clouds.count} linked clouds
          %strong #{@user.clouds.map{|c| c.human_name}.join(', ')}.
          - if @user.clouds_available.count > 0
            %div
              Link these clouds:
              %div
                %ul
                  - @user.clouds_available.each do |cloud|
                    - cloud_name = provider_from_class_name(cloud)
                    %li
                      = link_to cloud_name.capitalize, '/auth/' + cloud_name





    .delimiter





    .row-fluid
      .span12
        %h2 Second step &ndash; sync it all

        %table.table-hover.table
          %thead
            %tr
              %th Avatar <-> clouds
              %th Github <-> clouds
              %th Networks <-> networks
          %tbody
            %tr
              %td.span4
                - if @user.preferred_cloud  and @user.social_networks.select(&:avatar_updatable).count >= 2
                  = link_to 'Sync your avatar with social networks.', sync_edit_avatar_path
                - else
                  To sync your avatars you have to link Facebook, Twitter and some cloud.
              %td.span4
                - if @user.preferred_cloud and @user.social_networks.map(&:class).include? Social::Networks::Github
                  = link_to 'Sync your github gists with clouds.', sync_show_gists_path
                - else
                  To download your gists to the cloud you should have linked Github and some cloud system.
              %td.span4
                - if @user.social_networks.count >= 2 and @user.social_networks.select(&:profile_updatable).count >= 1
                  = link_to 'Sync your profile data.', sync_edit_profile_path
                - else
                  To sync your profile data you have to link at least 1 API-updatable
                  social network (Twitter, Github) to your account and
                  total amount of linked networks should be at least 2.

