- content_for :title do
  User synchronization

- if @user.nil?
  = link_to "Register", register_path
  or
  = link_to "Log in", signin_path


- else
  .container-fluid
    .row-fluid
      .span6
        %div.social_networks
          %h2 Social networks.
          You have #{@user.social_networks.count} linked social networks
          %strong #{@user.social_networks.map{|n| n.human_name}.join(', ')}.

          - if @user.social_networks_available.count > 0
            %div
              %br
              Link these networks to your account:
              %div
                %ul
                  - @user.social_networks_available.each do |network|
                    - network_name = provider_from_class_name(network)
                    %li
                      = link_to network_name.capitalize, '/auth/' + network_name


      .span6
        %div.clouds
          %h2 Clouds.
          You have #{@user.clouds.count} linked clouds
          %strong #{@user.clouds.map{|c| c.human_name}.join(', ')}.
          - if @user.clouds.count >= 1
            %div.preferred_cloud_form
              Your preferred cloud:
              = form_tag update_preferred_cloud_path, :method => :put do
                = select_tag :preferred_cloud,
                  options_for_select(@user.clouds.map{|c| [c.human_name, c.id]}, @user.preferred_cloud.id)
                = submit_tag 'update'

          - if @user.clouds_available.count > 0
            %div
              %br
              Link these clouds:
              %div
                %ul
                  - @user.clouds_available.each do |cloud|
                    - cloud_name = provider_from_class_name(cloud)
                    %li
                      = link_to cloud_name.capitalize, '/auth/' + cloud_name

  %h3 You may:
  %ol
    %li
      = link_to 'synchronize your avatar', '1'
    %li
      - if @user.preferred_cloud and @user.social_networks.map(&:class).include? Social::Linkedin
        = link_to 'download your CV to the cloud', sync_show_cv_path
      - else
        to download your CV to the cloud you should have linked Linkedin and some cloud system
    %li
      - if @user.social_networks.count >= 2 and  @user.social_networks.select(&:profile_updatable).count >= 1
        = link_to 'synchronize your profile data', sync_edit_profile_path
      - else
        to synchronize your profile data you have to link at least 1 API-updatable
        social network (Twitter, Github) to your account and
        total amount of linked networks should be at least 2