- content_for :title do
  CV synchronization


%div= link_to 'back', root_path

%h3 Synchronize your profile info into #{@user.preferred_cloud.human_name}

%div
  You can upload your work positions data from Linkedin to
  your preferred cloud service.

%br

%div
  - if @cv[:linkedin] != @cv[:cloud]
    %p
      We have detected that your LinkedIn data is not presented at
      your cloud storage or it differs from the current state.

    %p So you can upload your data to:
    %div.cv_file_name
      = form_tag sync_upload_cv_path, :method => :post do
        %div
          #{@user.preferred_cloud.human_name}/#{@user.preferred_cloud.cv_folder}/
          = text_field_tag :cv_file_name, @user.preferred_cloud.cv_file_name, :placeholder => 'cv_name'
        %div= hidden_field_tag :cv_data, @cv[:linkedin]
        %div= submit_tag 'Start!', :class => 'btn'
  - else
    It seems like your data is already synchronized with #{@user.preferred_cloud.human_name}!




