- content_for :title do
  Gists synchronization


%div= link_to 'back', root_path

%h3 Sync your Github gists into #{@user.preferred_cloud.human_name} and back

Please specify from which source would you like to get gists data to be synced
with #{@user.preferred_cloud.human_name} and Github.

%div
  %table.table
    %thead
      %tr.centered
        %th.span2
          ignore
          %br
          this gist
        %th.span5
          sync it
          %br
          from #{@user.preferred_cloud.human_name}
        %th.span5
          sync it
          %br
          from Github

    %tbody

      = form_tag sync_upload_gist_path, :method => :post do
        - @gists.each do |gist_id, gist|
          - github_gist = gist[:github]
          - cloud_gist = gist[:cloud]
          - equal = are_equal? github_gist, cloud_gist

          - gist_radio_button_name = gist_radio_button_name(gist_id)

          %tr{:class => (equal ? 'success' : 'warning')}
            %td
              %div.btn-container= radio_button_tag gist_radio_button_name, 'disabled', true
            %td
              - unless cloud_gist.nil?
                %div.btn-container= radio_button_tag gist_radio_button_name, 'cloud'
                = render 'layouts/gist', :gist => cloud_gist, :gist_id => gist_id, :storage => 'cloud'
            %td
              - unless github_gist.nil?
                %div.btn-container
                  = radio_button_tag gist_radio_button_name, 'github'
                = render 'layouts/gist', :gist => github_gist, :gist_id => gist_id, :storage => 'github'


        %tr
          %td{:colspan => 3}
            = submit_tag 'Sync!', :class => 'btn'




    -#%p So you can upload your data to:
    -#%div.cv_file_name
    -#  = form_tag sync_upload_gist_path, :method => :post do
    -#    %div
    -#      #{@user.preferred_cloud.human_name}/#{@user.preferred_cloud.gists_folder}/
    -#      = text_field_tag :cv_file_name, @user.preferred_cloud.cv_file_name, :placeholder => 'file_name'
    -#    %div= hidden_field_tag :cv_data, @cv[:linkedin][:data]
    -#    %div= submit_tag 'Start!', :class => 'btn'

    -#- else
    -#  %div It seems like your data is already synchronized with #{@user.preferred_cloud.human_name}!
    -#%div
    -#  Link:
    -#  = link_to @cv[:cloud][:url], @cv[:cloud][:url], :target => '_blank'
