- content_for :title do
  User synchronization

- unless @user.nil?
  .container-fluid
    .row-fluid
      .span6
        %div.social_networks
          %h2 Social networks.
          You have #{@user.social_networks.count} linked social networks
          %strong
            = @user.social_networks_in.map{|n| provider_from_class_name(n)}.join(', ')

          - if @user.social_networks_available.count > 0
            %div
              %br
              Link these networks to your account:
              %div
                %ul
                  - @user.social_networks_available.each do |network|
                    %li
                      = link_to provider_from_class_name(network).capitalize, '/auth/' + provider_from_class_name(network)


      .span6
        %div.clouds
          %h2 Clouds.
          You have #{@user.clouds.count} linked clouds
          %strong= @user.clouds_in.join(', ')

          - if @user.clouds_available.count > 0
            %div
              %br
              Link these clouds:
              %div
                %ul
                  - @user.clouds_available.each do |cloud|
                    %li= link_to cloud, 'login_'


  %div
    %h3 1. Avatar

  %div
    %h3 2. CV

  %div
    %h3
      3. Synchronization
    - @user.social_networks.each do |sn|
      %pre= sn.get_info.to_yaml



  %div
