- gist_field_name_prefix = 'gists[' + gist_id + '][' + storage + ']'
- gist_field_id_prefix = ['gists', gist_id, storage].join('_')

%div.gist
  %div
    = label_tag gist_field_id_prefix + '_description', 'gist description'
    = text_field_tag gist_field_name_prefix + '[description]', gist[:description], :class => 'update-radio-button'

    = hidden_field_tag gist_field_name_prefix + '[public]', gist[:public]
    = hidden_field_tag gist_field_name_prefix + '[id]', gist_id

  %br

  %div.gist-files
    %div

    - gist_files = sort_gist_files gist[:files]

    - gist_files.each_with_index do |gist_file, index|

      - file_id = gist_field_id_prefix + '_files_' + index.to_s + '_contents'
      - file_field_name_prefix = gist_field_name_prefix + '[files][' + index.to_s + ']'

      %div
        = label_tag file_id, gist_file[:filename] + ' ' + gist_file[:language].to_s


      = hidden_field_tag file_field_name_prefix + '[filename]', gist_file[:filename]
      = hidden_field_tag file_field_name_prefix + '[language]', gist_file[:language]
      = text_area_tag file_field_name_prefix + '[contents]', gist_file[:contents], :class => 'update-radio-button'

